---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/?_=<JQUERY__>&callback=<JQUERY_CALLBACK>
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/javascript; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1519688248'
      Etag:
      - W/"7dc470913f1fe9bb6c7355b50a0737bc"
    body:
      encoding: UTF-8
      string: |
        /**/<JQUERY_CALLBACK>({
          "meta": {
            "Content-Type": "application/javascript; charset=utf-8",
            "X-RateLimit-Limit": "60",
            "X-RateLimit-Remaining": "43",
            "X-RateLimit-Reset": "1519688248",
            "Cache-Control": "public, max-age=60, s-maxage=60",
            "Vary": "Accept",
            "ETag": "\"7dc470913f1fe9bb6c7355b50a0737bc\"",
            "X-GitHub-Media-Type": "github.v3; format=json",
            "status": 200
          },
          "data": {
            "current_user_url": "https://api.github.com/user",
            "current_user_authorizations_html_url": "https://github.com/settings/connections/applications{/client_id}",
            "authorizations_url": "https://api.github.com/authorizations",
            "code_search_url": "https://api.github.com/search/code?q={query}{&page,per_page,sort,order}",
            "commit_search_url": "https://api.github.com/search/commits?q={query}{&page,per_page,sort,order}",
            "emails_url": "https://api.github.com/user/emails",
            "emojis_url": "https://api.github.com/emojis",
            "events_url": "https://api.github.com/events",
            "feeds_url": "https://api.github.com/feeds",
            "followers_url": "https://api.github.com/user/followers",
            "following_url": "https://api.github.com/user/following{/target}",
            "gists_url": "https://api.github.com/gists{/gist_id}",
            "hub_url": "https://api.github.com/hub",
            "issue_search_url": "https://api.github.com/search/issues?q={query}{&page,per_page,sort,order}",
            "issues_url": "https://api.github.com/issues",
            "keys_url": "https://api.github.com/user/keys",
            "notifications_url": "https://api.github.com/notifications",
            "organization_repositories_url": "https://api.github.com/orgs/{org}/repos{?type,page,per_page,sort}",
            "organization_url": "https://api.github.com/orgs/{org}",
            "public_gists_url": "https://api.github.com/gists/public",
            "rate_limit_url": "https://api.github.com/rate_limit",
            "repository_url": "https://api.github.com/repos/{owner}/{repo}",
            "repository_search_url": "https://api.github.com/search/repositories?q={query}{&page,per_page,sort,order}",
            "current_user_repositories_url": "https://api.github.com/user/repos{?type,page,per_page,sort}",
            "starred_url": "https://api.github.com/user/starred{/owner}{/repo}",
            "starred_gists_url": "https://api.github.com/gists/starred",
            "team_url": "https://api.github.com/teams",
            "user_url": "https://api.github.com/users/{user}",
            "user_organizations_url": "https://api.github.com/user/orgs",
            "user_repositories_url": "https://api.github.com/users/{user}/repos{?type,page,per_page,sort}",
            "user_search_url": "https://api.github.com/search/users?q={query}{&page,per_page,sort,order}"
          }
        })
  recorded_at: Mon, 26 Feb 2018 22:58:27 GMT
- request:
    method: options
    uri: http://www.example.com/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Proxy-Connection:
      - keep-alive
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - OPTIONS, GET, HEAD, POST
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 26 Feb 2018 22:58:27 GMT
recorded_with: VCR 4.0.0
